<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Документ без названия</title>
<link	rel = "stylesheet" href="horoscope.css">
</head>

<body>
<form action="">
  <div class="group" align="center">
		<label for="">    Введите ваше имя:<br>
</label>
		<input type="text">
	</div>
	<div class="group" align="center">
		<label for="">Введите вашу дату рождения:<br>
</label>
		<input type="text">
	</div>
	<div class="group" align="center">
	    <label for="" >Выберите один пункт из списка, наиболее подходящий для Вас:<br>
<br>
	    </label>
		<select align="center">
		<option>Семья</option>
		<option>Красота</option>
		<option>Здоровье</option>
		<option>Авто</option>
	    <option>Недвижимость</option>
		<option>Психология</option>
		<option>Коты</option>
		<option>Собаки</option>
		<option>Туризм</option>
		<option>Обучение</option>
		<option>Юмор</option>
		<option>Финансы</option>
		<option>Магия</option>
		<option>Кулинария</option>
		<option>Дети</option>
		<option>Эзотерика</option>
		</select>
	</div>
  <div class = "group" align="center">
<button href="main2.html">Узнать гороскоп</button>
	</div>
</form>	
</body>
</html>
