@charset "utf-8";
/* CSS Document */
position: absolute;
width: 569px;
height: 649px;
left: 435px;
top: 54px;

background: #5EDFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 43px;


/* Rectangle 3 */


position: absolute;
width: 568px;
height: 98px;
left: 435px;
top: 605px;

background: #B2FCFF;
border: 1px solid #000000;
box-sizing: border-box;
border-radius: 0px 9px 43px 43px;


/* Рак 31 октября.🎃 ✨ Завтра не жалейте времени для того, чтобы поработать над своим отчетом, если, конечно, вы вообще должны кому-то отчитываться. Если не можете сделать его достоверным, потрудитесь хотя бы, чтобы он оказался логичным. Как бы вас за руку на несоответствиях не поймали. */


position: absolute;
width: 355px;
height: 394px;
left: 542px;
top: 120px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;

color: #000000;

text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);


/* Rectangle 4 */


position: absolute;
width: 86px;
height: 86px;
left: 542px;
top: 611px;

background: #42B883;
border: 1px solid #000000;
box-sizing: border-box;
border-radius: 43px;


/* Rectangle 5 */


position: absolute;
width: 110px;
height: 48px;
left: 787px;
top: 630px;

background: #C70D3A;
border: 1px solid #000000;
box-sizing: border-box;
border-radius: 43px;
