<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Result</title>
<link	rel = "stylesheet" href="main.css">
</head>

<body>
<form action="">
  <div class="group">
  <table align=center width="611" border="1">
    <caption>
	<h1>
      Ваш прогноз на сегодня:
		</h1>
    </caption>
	 <h4>
    <tr><th width="601"> Рак 31 октября.🎃 ✨ Завтра не жалейте времени для того, чтобы поработать над своим отчетом, если, конечно, вы вообще должны кому-то отчитываться. Если не можете сделать его достоверным, потрудитесь хотя бы, чтобы он оказался логичным. Как бы вас за руку на несоответствиях не поймали. </th></tr>
	  </h4>

 </table>
  </div>
</form>	

	
	
</body>

</html>
