<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Result</title>
<link	rel = "stylesheet" href="horoscope.css">
</head>

<body>
<form action="">
  <div class="group">
  <table width="408" border="1">
    <caption>
	<h1>
      Ваш прогноз на сегодня:
		</h1>
    </caption>
	 <h4>
    <tr><th width="398"> Утро отлично подходит для деловых переговоров. Могут очень удачно проходить любые встречи: вы мгновенно завоевываете симпатию собеседников, часто даже соперники встают на вашу сторону. До середины дня можно принимать важные решения; вы правильно оцениваете ситуацию, поэтому вероятность ошибки минимальна.
      
      Позже наступит благоприятное время для отдыха. Старайтесь избегать перегрузок, они плохо сказываются на самочувствии. Не стоит планировать на вечер сложные разговоры; избавиться от неприятных мыслей будет трудно. </th></tr>
	  </h4>
	  <tr><th>Like</th></tr>
	  <tr><th>Dislike</th></tr>
 </table>
  </div>
</form>	

	
	
</body>
</html>